<!--浮动-->
<div id="jy-float" class="fd_box game-fd-box">
    <ul>
        <li>
            <a target="_blank"
                href="http://p.qiao.baidu.com/cps/chat?siteId=13791900&userId=28019655&siteToken=9baf6faf281a66f89f8697aad1e01989"><i
                    class="kefu"></i></a>
        </li>
        <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=3474365959&site=qq&menu=yes"><i class="QQ"></i></a>
            <div class="num">3474365959</div>
        </li>
        <li>
            <a href="" onclick="return false;"><i class="shouji"></i></a>
            <div class="num">15000568602</div>
        </li>
    </ul>
    <a href="#" class="return"><i></i></a>
</div>

<!-- 留资 -->
<section id="section-contact" class="page-section" style="padding: 5rem 0;"
    data-onepage-settings="{&quot;offset&quot;:60,&quot;speed&quot;:&quot;1500&quot;,&quot;easing&quot;:&quot;easeInOutExpo&quot;}">
    <div class="heading-block text-center">
        <!-- <h2>联系我们</h2> -->
        <img src="/image-jy/contact_us.png">
    </div>
    <div class="container">
        <div class="row align-items-stretch col-mb-50 mb-0">
            <!-- 表单 -->
            <div class="col-lg-6">
                <div class="form-widget">
                    <div class="form-result"></div>
                    <form class="mb-0" id="template-contactform" name="template-contactform" action="include/form.php"
                        method="post" novalidate="novalidate">
                        <div class="form-process">
                            <div class="css3-spinner">
                                <div class="css3-spinner-scaler"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <input type="text" id="template-contactform-name" name="template-contactform-name"
                                    value="" class="form-control required" placeholder="你的姓名" style="font-size: 20px;">
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="email" id="template-contactform-email" name="template-contactform-email"
                                    value="" class="required email form-control" placeholder="你的公司"
                                    style="font-size: 20px;">
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="text" id="template-contactform-phone" name="template-contactform-phone"
                                    value="" class="form-control" placeholder="你的电话" style="font-size: 20px;">
                            </div>
                            <div class="w-100"></div>
                            <div class="col-12 form-group-textarea">
                                <style>
                                    textarea.form-control-textarea::placeholder {
                                        color: #979797;
                                        font-family: Rubik, sans-serif;
                                    }
                                </style>
                                <textarea class="required form-control-textarea" id="template-contactform-message"
                                    name="template-contactform-message" rows="7" cols="30"
                                    style="color: #979797;font-size: 20px;" placeholder="合作需求"></textarea>
                            </div>
                            <div class="col-12 form-group d-none">
                                <input type="text" id="template-contactform-botcheck"
                                    name="template-contactform-botcheck" value="" class="form-control">
                            </div>
                            <div class="col-12 form-group-button" style="margin-bottom: 0" onclick="loadAddMsg()">
                                <a href="javascript:void(0);" style="font-size: 20px;"
                                    class="jy-button jy-button-blue button-large contact-button">
                                    <span>联系我们</span>
                                </a>
                            </div>
                        </div>
                        <input type="hidden" name="prefix" value="template-contactform-">
                    </form>
                </div>
            </div>
            <div class="col-lg-6" style="height: 410px;">
                <!-- <iframe src="https://www.9shadow.com/baidumap_dark.html" frameborder="0" scrolling="no" width="100%" height="364"></iframe> -->
                <img style="width: 100%;height: 410px; object-fit: cover;" src="/gameDevelopment/image-jy/new/map.jpg"
                    alt="map">
            </div>

            <!-- 相关信息 -->
            <div class="w-100">
                <div class="row col-mb-50">
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain" style="height: 100%;">
                            <div class="fbox-icon" style="background-color: #f8f9fa;">
                                <img src="/gameDevelopment/image-jy/new/contact_icon1.png" alt="address">
                            </div>
                            <div class="fbox-content">
                                <h3><span class="subtitle"
                                        style="font-size: 0.95rem;">上海市浦东新区御北路235弄<br />1号张江科学城数智天地智慧云T1栋503单元
                                    </span></h3>



                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain" style="height: 100%;">
                            <div class="fbox-icon" style="background-color: #f8f9fa;">
                                <img src="/gameDevelopment/image-jy/new/contact_icon2.png" alt="address">
                            </div>
                            <div class="fbox-content">
                                <h3><span class="subtitle">021-50309719
                                    </span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain show-wxcode" style="height: 100%;">
                            <div class="fbox-icon" style="background-color: #f8f9fa;">
                                <img src="/gameDevelopment/image-jy/new/contact_icon3.png" alt="address">
                                <img class="wxcodeImg" src="https://www.9shadow.com/image-jy/wxcode.jpg">
                            </div>
                            <div class="fbox-content">
                                <h3><span class="subtitle">15000568602</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="feature-box fbox-center fbox-bg fbox-plain show-wxcode" style="height: 100%;">
                            <div class="fbox-icon" style="background-color: #f8f9fa;">
                                <img src="/gameDevelopment/image-jy/new/contact_icon4.png" alt="address">
                            </div>
                            <div class="fbox-content">
                                <h3> <a href="mailto:sales@9shadow.com">
                                        <span class="subtitle">sales@9shadow.com</span></a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<div class="foot_b game_foot">
    <a target="_blank" href="https://beian.miit.gov.cn" style="color:rgba(255,255,255,.4) !important;">2014-2024
        上海九影网络科技有限公司 9shadow.com All
        rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;
        沪ICP备15007980号-1</a>
    <a target="_blank" style="color:rgba(255,255,255,.4) !important;"
        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502012998">&nbsp;&nbsp;&nbsp;&nbsp;<img
            src="https://www.9shadow.com/image-jy/foot_img5.png" /> 沪公网安备
        31011502012998号</a>
</div>