<!--
 * @Date: 2023-05-17 14:14:32
 * @LastEditors: alebien s9x9w9@163.com
 * @LastEditTime: 2023-07-27 19:28:43
 * @FilePath: \guanwang-new\components\header-menu.html
-->

<li class="menu-item">
	<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/index.html" onclick="jumpToPage(this)">
		<div>首页</div>
	</a>
</li>
<li class="menu-item">
	<a class="menu-link" href="javascript:;">
		<div>解决方案</div>
	</a>
	<ul class="sub-menu-container solution-sub-menu" style="width: 160px; text-align: center; left: -35px">
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/EnterpriseAI/" onclick="jumpToPage(this)">
				<div>企业级 AI 定制服务</div>
			</a>
		</li>
        <li class="menu-item">
            <a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/AIintelligentdevice/" onclick="jumpToPage(this)">
                <div>AI 智能设备软件开发</div>
            </a>
        </li>
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/marketing.html" onclick="jumpToPage(this)">
				<div>品牌互动营销</div>
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/virtualSimulationTeaching.html" onclick="jumpToPage(this)">
				<div>虚拟仿真教学</div>
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/visualization.html" onclick="jumpToPage(this)">
				<div>数据可视化/3D展示</div>
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/metaverse.html" onclick="jumpToPage(this)">
				<div>元宇宙平台</div>
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/exhibitionHall.html" onclick="jumpToPage(this)">
				<div>虚拟云展厅</div>
			</a>
		</li>
		<li class="menu-item">
			<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/vrLargeSpace/" onclick="jumpToPage(this)">
				<div>VR大空间</div>
			</a>
		</li>
        <li class="menu-item">
            <a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/miniProgram.html" onclick="jumpToPage(this)">
                <div>全平台小程序</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/onlineRetailers.html" onclick="jumpToPage(this)">
                <div>新零售电商</div>
            </a>
        </li>
	</ul>
</li>
<li class="menu-item mega-menu">
	<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/case.html" data-gamehtmlurl="https://www.9shadow.com/game/case.html" onclick="jumpToPage(this)">
		<div>案例</div>
	</a>
</li>
<li class="menu-item mega-menu">
	<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/article.html" onclick="jumpToPage(this)">
		<div>资讯</div>
	</a>
</li>
<li class="menu-item mega-menu">
	<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/game/index.html" onclick="jumpToPage(this)">
		<div>互动游戏</div>
	</a>
</li>
<li class="menu-item">
	<a class="menu-link" href="javascript:;" data-htmlurl="https://www.9shadow.com/aboutUs.html" onclick="jumpToPage(this)">
		<div>关于我们</div>
	</a>
</li>
