<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-skincare.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/skincare.jpg"
                        alt="Skincare Demo" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-shop-2.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/shop-2.jpg" alt="Shop 2 Demo"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-interior-design.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/interior-design.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-real-estate.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/real-estate.jpg"
                        alt="Real Estate Demo" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-speaker.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/speaker.jpg" alt="Speaker Demo"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="index-classic.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/classic.jpg" alt="Classic Demo"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-jewellery-boutique.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/jewellery.jpg"
                        alt="Jewellery Boutique Demo" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-integro.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/integro.jpg" alt="Integro Demo"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-landing-2.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/landing-2.jpg"
                        alt="Landing 2 Demo" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-saas.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/saas.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-portfolio.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/portfolio.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-podcasts.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/podcasts.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-insurance.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/insurance.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-nft-marketplace.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/nft.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-seo.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/seo.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-construction.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/construction.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-travel.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/travel.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-medical.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/medical.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-landing.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/landing.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-law-firm.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/law-firm.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-kindergarten.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/kindergarten.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-furniture.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/furniture.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-coworking.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/coworking.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-finance.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/finance.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-therapy.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/therapy.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-covid-care.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/covid-care.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-forum.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/forum.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-blog.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/blog.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-yoga.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/yoga.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-freelancer.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/freelancer.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-hosting.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/hosting.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-app-landing.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/app-landing.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-shop.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/shop.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-news.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/news.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-cleaner.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/cleaner.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-beauty-kit.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/beauty-kit.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-store.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/store.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-hostel.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/hostel.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-crowdfunding.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/crowdfunding.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-burger.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/burger.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-beauty.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/beauty.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-recipes.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/recipes.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-movers.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/movers.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-conference.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/conference.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-nonprofit.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/nonprofit.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-articles.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/article.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-course.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/course.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-bike.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/bike.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-photographer.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/photographer.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-headphones.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/headphones.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-gym.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/gym.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-modern-blog.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/modern-blog.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-music.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/music.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-business.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/business.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-car.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/car.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-restaurant.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/restaurant.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-barber.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/barber.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-ecommerce.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/ecommerce.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-pet.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/pet.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-resume.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/resume.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide">
    <div class="row g-4 mb-5">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-xmas.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/xmas.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-writer.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/writer.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-cafe.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/cafe.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide mt-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-spa.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/spa.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-media-agency.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/media-agency.jpg"
                        alt="Live Preview" class="rounded-5 lazy">
                </a>
            </div>
        </div>
        <div class="col-12">
            <div class="grid-inner">
                <a href="demo-agency.html" target="_blank">
                    <img width="221" height="159"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 221 159'%3E%3C/svg%3E"
                        data-src="images/intro/niche/new/agency.jpg" alt="Live Preview"
                        class="rounded-5 lazy">
                </a>
            </div>
        </div>
    </div>
</div>